# create .env file with these values
API_KEY_OPENAI=<KEY>
API_KEY_GEMINI=<KEY>
API_KEY_FREECRYPTO=<KEY_BUT_NOT_SURE_IF_WE_WILL_USE_THIS>
API_KEY_COINGECKO=<KEY_IF_WE_WILL_USE_IT>

DB_PATH="sqlite.db"

TS_DB_URL="http://localhost:8086"
TS_DB_API_KEY=<INFLUXDB_API_KEY>
TS_DB_ORG=<INFLUXDB_ORG>