# create .env file with these values
API_KEY_OPENAI=<KEY>
API_KEY_GEMINI=<KEY>
API_KEY_FREECRYPTO=<KEY_BUT_NOT_SURE_IF_WE_WILL_USE_THIS>
API_KEY_COINGECKO=<KEY_IF_WE_WILL_USE_IT>

# DB Setup PostgreSQL
DB_URL="localhost"
DB_PORT=5432
POSTGRES_PASSWORD="password"
POSTGRES_USER="user"
POSTGRES_DB="mydb"

# pgAdmin (web interface to inspect database)
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
